* {
    box-sizing: border-box;
  }

body {
    height: 100%;
    width: 100%;
  }
  
header {
    padding-bottom: 32px;
  }
  
.container {
      width: 100vh;
      height: 70vh;
      display: flex;
      justify-content: center;
      position: relative;
      
  }
  
hr {
    width:50%;
  }
.icon {
    font-size: 0;
  }
  @media (max-width:768px){
    .container{
        display: flex;
        flex-wrap:wrap;
        gap:16px;
}
