#txtArea{
    width: 100vh;
    }
    
    #form{
        width: 100vh;
        margin: 18px;
    }
    
    #form button{
        width: 120px;
    }
     #inputganhador{
        width: 100vh;
        margin: 18px;
     }