* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-claro: #82C518;
    --verde-escuro: #008037;
    --gradient: linear-gradient(180deg, rgba(130,197,24,1) 0%, rgba(218,211,13,1) 100%);
}

header, footer{
    background-color: #82C518;
    height: 55px;
    text-align: center;
}


.titulo-faq {
    background-color: var(--verde-escuro);
    color: white;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.container-faq{
    padding: 35px;
}

.accordion-button {
    background-color:  white!important;
    color: black!important;
    font-weight: 600;
}


#myFooter {
    background-color: #f8f9fa;
    color: #707070;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #f8f9fa;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #222222;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: black;
}

#myFooter a {
    color: #555353;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: black;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .btn {
    color: black;
    background-color: #4bd86e;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    margin: 0;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

